body {
    font-family: Arial, sans-serif;
    color: black;
    padding-top: 50px; /* Adjusted for top header height */
    background-color: rgb(152, 151, 151);
}

.email-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(148, 147, 147, 0.5);
    color: black; 
    font-size: 1.5rem;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
    margin-top: 50px; 
}

.navbar .navbar-nav .nav-link {
    color: black !important; 
}

/* Styling for 'active' link-Inbox */
.navbar .navbar-nav .nav-link.active {
    color: black !important; 
}

/* Styling for 'active' link when hovered */
.navbar .navbar-nav .nav-link.active:hover {
    color: rgb(38, 192, 166) !important; 
}

/* Styling for links when hovered */
.navbar .navbar-nav .nav-link:hover {
    color:  rgb(38, 192, 166) !important; 
}

/* Sidebar Styling */
.sidebar {
    background-color: #366fa8;
    padding: 80px;
    color: black !important; 
}

.sidebar .nav-link {
    color: black; 
}

.sidebar .nav-link:hover {
    color: rgb(38, 192, 166); 
}

main {
    padding-top: 20px;
}

.email-list {
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.card-body {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    color: black;
    background-color: #366fa8;
}

.d-flex .form-control {
    background-color: rgb(176, 174, 174);
    color: black;
    border: 1px solid rgb(67, 66, 66);
}

.sign-out-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    background-color: rgb(63, 14, 14);
}

/* Mobile (Hamburger Menu) */
@media (max-width: 768px) {
    .sidebar {
        display: none; 
        color: black
    }

    .navbar-nav {
        display: block;
        width: 100%;
    }

    .navbar-toggler-icon {
        background-color: rgb(78, 76, 76);
    }

    .email-header {
        font-size: 1.2rem;
        padding-left: 10px;
    }

    /* Navbar displayed only on smaller screens */
    .navbar {
        display: block;
    }
}